In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("notebooks_final/DATA/Advertising.csv")
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [3]:
X = df.drop("sales", axis=1)
y = df["sales"]

In [9]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
from sklearn.linear_model import Ridge
model = Ridge(alpha=100)

In [18]:
from sklearn.model_selection import cross_val_score
# cv = fold
score = cross_val_score(model, X_train, y_train, cv=5, scoring="neg_mean_squared_error")
abs(score.mean())

8.215396464543606

In [19]:
model = Ridge(alpha=1)
score = cross_val_score(model, X_train, y_train, cv=5, scoring="neg_mean_squared_error")
abs(score.mean())

3.344839296530696