In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("notebooks_final/Data/Advertising.csv")
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [6]:
X = df.drop(['sales'], axis=1)
y = df['sales']

#Train, test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

#Scale data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [9]:
from sklearn.linear_model import ElasticNet
# help(ElasticNet)

In [11]:
base_elastic_net_model = ElasticNet()
param_grid = {'alpha': [0.1, 0.3, 0.5, 1, 5, 10, 50, 100],
'l1_ratio': [0.1, 0.3, 0.5, 0.7, 0.95, 1, 2]}

In [17]:
from sklearn.model_selection import GridSearchCV
grid_model = GridSearchCV(estimator=base_elastic_net_model, 
param_grid = param_grid, cv=5, scoring='neg_mean_squared_error', verbose=0)
grid_model.fit(X_train_scaled, y_train)

grid_model.best_estimator_

/opt/anaconda3/envs/ml/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: nan, tolerance: 0.2816804910714286
  model = cd_fast.enet_coordinate_descent(
/opt/anaconda3/envs/ml/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: nan, tolerance: 0.30528941964285716
  model = cd_fast.enet_coordinate_descent(
/opt/anaconda3/envs/ml/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: nan, tolerance: 0.28309342857142855
  model = cd_fast.enet_coordinate_descent(
/opt/anaconda3/envs/ml/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: nan, tolerance: 0.2905451071428572
  model = cd_fast.enet_coordinate_descent(
/opt/anaconda3/envs/ml/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: nan, tolerance: 0.3094676785714286
  model = cd_fast.enet_coordinate_descent(

ElasticNet(alpha=0.1, l1_ratio=2)

In [18]:
grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 2}

In [21]:
pd.DataFrame(grid_model.cv_results_).head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000460,0.000085,0.000203,0.000028,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-3.453021,-1.405190,-5.789125,-2.187302,-4.645576,-3.496043,1.591601,9
1,0.000744,0.000250,0.000260,0.000047,0.1,0.3,"{'alpha': 0.1, 'l1_ratio': 0.3}",-3.386789,-1.419619,-5.691296,-2.170784,-4.548123,-3.443322,1.548670,7
2,0.000425,0.000134,0.000172,0.000025,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-3.325440,-1.427522,-5.595610,-2.163089,-4.451679,-3.392668,1.506827,5
3,0.000318,0.000002,0.000155,0.000003,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.269880,-1.442432,-5.502437,-2.163950,-4.356738,-3.347088,1.462765,4
4,0.000348,0.000056,0.000167,0.000016,0.1,0.95,"{'alpha': 0.1, 'l1_ratio': 0.95}",-3.213052,-1.472417,-5.396258,-2.177452,-4.241080,-3.300052,1.406248,3

In [24]:
y_pred = grid_model.predict(X_test_scaled)
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
mse

2.2168759008189847